{{ define "main" }}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="landing-zone">
                    <h3 style="color: #fff;">Technical Business Services</h3>
                    <!-- <p class="subtitle">Network Management, App and Website Solutions</p> -->
                    <p>We help small to mid-sized businesses & non-profits leverage technology more effectively.</p>
                    <p>In 2003 we started SDC Solutions, Inc. in response to small and mid-sized businesses and non-profits asking for help managing how they process and share information. Today, we continue to provide affordable solutions and enjoy working with and learning about all the unique ways our customers use information to do what they do.</p>
                    <button type="button" class="button-default" onclick="window.location='/services'">Learn More <i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col col-md-2 display-md-up"></div>
                    <div class="col col-md-4">
                        <div class="card">
                            <h3 class="card-title">Services We Offer</h3>
                            Web & Email Hosting, Website and App Development, Software Integrations!
                            <div style="text-align: center; margin-top: 17px;">
                                <button class="button-brown" onclick="window.location='/services'">Learn More <i class="fas fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <div class="card">
                            <h3 class="card-title">About Us</h3>
                            Since 2003 6thCents LLC has been helping customers leverage new technologies.
                            <div style="text-align: center; margin-top: 17px;">
                                    <button class="button-brown" onclick="window.location='/about'">Learn More <i class="fas fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2 display-md-up"></div>
                </div>
            </div>
        </div>
    </div>
{{ end }}